#mobile {
    background-color: lightblue;
    height: 780px;
    width: 380px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; /* Distribute items evenly along the main axis */
    align-content: space-evenly; /* Distribute flex lines evenly */
}


.container{
    height: 188px;
    background-color: lightpink;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.img{
    border-radius: 3px;
}

#para{
    height: 10px;
}