

body{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; /* Distribute items evenly along the main axis */
    align-content: space-evenly; /* Distribute flex lines evenly */
    touch-action: pan-y;
    padding-top: 130px;
    font-size: 16px;
    ling-height: 1.5;
}

#imageContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(45%, 1fr)); /* Adjust the percentage as needed */
    gap: 5%; /* Adjust the gap between images */
    padding: 5%; /* Optional padding around the grid */
}

.img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}


/* Header styles */
header {
    background-color: #333;
    color: white;
    padding: 30px;
    position: fixed;
    top: 0;
    left: 0;
    right:0;
    width: 100%;
    z-index: 1000;
  }
  
  .header-content {
    display: flex;
    align-items: center;
  }
  
  .menu-icon {
    cursor: pointer;
  }
  
  .bar {
    background-color: white;
    height: 3px;
    width: 20px;
    margin: 3px 0;
  }
  
  .app-name {
    margin-left: 100px;
    margin-right: 10px; /* Adjust the margin to bring it closer to the menu icon */
    font-size: 24px;
  }
  
