/* Side Navigation Menu Styles */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color:rgb(245, 245, 245);
  overflow-x: hidden;
  transition: 0.4s;
  padding-top: 60px;
  padding-top: 200px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-evenly;
}

.category-div{
  height: 100%;
  width: 100%;
}
.category{
  border: none;
  width: 40%;
  height: 10%;
  margin-top: 40px;
  font-size: 50px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
}  

.selected {
  background-color: #23bdad;
}

#apply-btn{
  border: none;
  width: 45%;
  height: 15%;
  margin-top: 100px;
  font-size: 40px;
  border-radius: 10px;
  background-color: grey;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
}


.sidenav.open {
  width: 80%;
}


/* Close Button for Side Navigation Menu */
.closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}



body{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; /* Distribute items evenly along the main axis */
  align-content: space-evenly; /* Distribute flex lines evenly */
  touch-action: pan-y;
  padding-top: 163px;
}

.container{
  height: 188px;
  background-color: lightpink;
  display: flex;
  justify-content: center;
}
.img{
  border-radius: 3px;
}

/* Header styles */
header {
  background-color: #333;
  color: white;
  padding: 30px;
  position: fixed;
  top: 0;
  left: 0;
  right:0;
  width: 100%;
  height: 120px;
  z-index: 1000;
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;

  border-bottom-style: solid;
  border-bottom-width: 10px;
  border-bottom-color: rgb(228, 228, 228);
}

.header-content {
  display: flex;
  align-items: center;
}      

.menu-icon {
  cursor: pointer;
}

.bar {
  background-color: white;
  height: 10px;
  width: 70px;
  margin: 9px 0;
}

.app-name {
  margin-left:50px;
  margin-right: 10px; /* Adjust the margin to bring it closer to the menu icon */
  font-size: 65px;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  font-style: normal;
}

/* Modal Styles */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.9);
  
}

.modal-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.modal-content {
  margin-top: 20px; /* Adjust as needed */
  max-width: 80%; /* Adjust as needed */
  max-height: 80%; /* Adjust as needed */
}

.buttons-container {
  margin-top: 20px; /* Adjust as needed */
  display: flex;
  justify-content: space-between;
  width: 80%;
}

#downloadBtn,
#backBtn {
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

#downloadBtn {
  background-color: #4CAF50; /* Green */
  color: white;
}

#backBtn {
  background-color: #f44336; /* Red */
  color: white;
}

/* Close Button for Modal */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
